.pure-g-r [class *="pure-u"] {
	font-family: "ff-tisa-web-pro", "Helvetica", "Arial";
}
#hero
{
	width: 100%;
	height: 400px;
	background: url('https://s3.amazonaws.com/uploads.hipchat.com/38181/267103/Wlhv67K4JSEXn0s/team.png');
}

.logo
{
	height: 60px;
	width: 100px;
	padding-left: 60px;
}

.heading
{
	padding-top: 200px;
	text-align: center;
	font-size: 60px;
	color: white;
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	font-weight: 600;
	letter-spacing:10px
}
.headerbar
{
	height:60px;
}

.logo-text
{
	height: 60px;
	width: 60px;
	padding-left: 80px;
	padding-top: 6px;
}

#headertext
{
	padding-top: 23px;
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing:5px;
	color: rgb(233, 102, 15);
	font-size: 17px;
}
#header
{
	padding-top:10px;

}

.headerinfo
{
	padding-top: 25px;
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing:5px;
	font-size: 17px;
	color: rgb(175, 166, 166);
	text-align: center;
	width: 700px;
	cursor:pointer;
	margin:auto;

}
.content-title
{
	padding-left: 200px;
	letter-spacing:5px;
	font-size: 27px;
	font-weight: 100;

}

.font
{
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing:5px;
	font-size: 15px;
	color
}

#select
{
	color: black;
	font-weight: 600;
}
.content
{
	padding-top:100px;
	margin: auto;
}

.section
{
	border-top: 2px solid rgb(213, 213, 213);;
	width: 1200px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 80px;
}
.section-heading
{
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 20px;
	padding-top: 10px;
	font-family: "ff-tisa-web-pro", "Helvetica", "Arial";
	padding-bottom: 20px;
}
.section-content
{
	letter-spacing: 1px;
	font-size: 15px;
	padding-top: 15px;
	color: rgb(104, 104, 104);-webkit-font-smoothing: antialiased;
	font-family: "ff-tisa-web-pro", "Helvetica", "Arial";
	padding-bottom: 20px;
}