<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
<script type="text/javascript" src="//use.typekit.net/fhu0gql.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <a href=''><img alt="Damir4" class="circular" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/c45.45.566.566/s160x160/1185907_10151824884920428_2067043889_n.jpg"></a><br/><br/>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <div class="sepertor"></div>
          </div>
          <div class="content-posts">
          {{ content }}
          </div>
          <div class="footer">
            <div class="contact">
              <p>
                <a href="https://github.com/aitharaju">github.com/aitharaju</a><br />
                <a href="https://twitter.com/aitharaju">twitter.com/aitharaju</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
