<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="/css/jobs.css">

<script type="text/javascript" src="//use.typekit.net/fhu0gql.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="pure-g-r">
        <div class="pure-u-1" id="hero">
            <div class='logo'><img src='https://s3.amazonaws.com/uploads.hipchat.com/38181/267094/Rc73so4P1ypWmyI/whitevert.png' height=50 width=50/></div>
            <div class='heading'>
            	 COME JOIN US
            </div>
        </div>
        <div class="pure-u-1">
                <div class='pure-g-r headerinfo'>
                    <div class="font pure-u-1-4" id="company">
                       COMPANY 
                    </div>
                    <div class="pure-u-1-4 font" id="values">
                        VALUES
                    </div>
                    <div class="pure-u-1-4 font" id="team">
                        TEAM    
                    </div>
                    <div class="pure-u-1-4 font" id="jobs">
                        JOBS
                    </div>

                </div>
        </div>
        {{ content }}

</div>
</body>
</html>