<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="/css/jobs.css">

<script type="text/javascript" src="//use.typekit.net/fhu0gql.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="pure-g-r">
        <div class="pure-u-1" id="hero">
            <div class='logo'><img src='/hero.jpg' height=500 width=800/></div>
            <div class='heading'>
            	 COME JOIN US
            </div>
        </div>
        <div class="pure-u-1">
                <div class='pure-g-r headerinfo'>
                    <div class="font pure-u-1-4" id="company">
                       <a href='/jobs'>COMPANY </a>
                    </div>
                    <div class="pure-u-1-4 font" id="values">
                       <a href='/values'>VALUES</a>
                    </div>
                    <div class="pure-u-1-4 font" id="team">
                        <a href='/team'>TEAM <a/>
                    </div>
                    <div class="pure-u-1-4 font" id="jobs">
                        <a href='/jobs'>JOBS</a>
                    </div>

                </div>
        </div>
        {{ content }}

</div>
</body>
</html>